<div class="">
    <h1 class="uppercase text-4xl font-medium text-slate-700">CONTACT INFO</h1>
    <div class="mt-5 py-3">
        <div class="flex  ">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">Phone Number</h1>
            </div>
            <div class="w-1/2">
                <p class="border-l-4 border-gray-400 pl-2">
                    +91 6353742429
                </p>
            </div>
        </div>
        <div class="flex  mt-3">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">Email</h1>
            </div>
            <div class="w-1/2">
                <p class="border-l-4 border-gray-400 pl-2">
                    visaveliyanidit@gmail.com
                </p>
            </div>
        </div>
        <div class="flex  mt-3">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">Address </h1>
            </div>
            <div class="w-1/2">
                <p class="border-l-4 border-gray-400 pl-2">
                   devakigalol,Jetpur,Rajkot,Gujarat,360370.
                </p>
            </div>
        </div>
    </div>
</div>