<div class="">
    <h1 class="uppercase text-4xl font-medium text-slate-700">projects</h1>
    <div class="mt-5 py-3">
        <div class="flex  ">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">WEATHER APP</h1>
            </div>
            <div class="w-1/2">
                <p class="border-l-4 border-gray-400 pl-2">
                    Dynamic project thats take a city name from user and display weather condition and temperature of
                    that city form databse through APIS.
                </p>
            </div>
        </div>
        <div class="flex  mt-3">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">NEWS APP</h1>
            </div>
            <div class="w-1/2">
                <p class="border-l-4 border-gray-400 pl-2">
                    Dynamic project thats shows daily news catagory wise.
                </p>
            </div>
        </div>
        <div class="flex  mt-3">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">TEXT UTILS APP</h1>
            </div>
            <div class="w-1/2">
                <p class="border-l-4 border-gray-400 pl-2">
                    it's convert text as per user requirement.
                </p>
            </div>
        </div>
    </div>
</div>