<div class="">
    <h1 class="uppercase text-4xl font-medium text-slate-700">Education</h1>
    <div class="mt-5 py-3">
        <div class="flex  ">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">NOBLE HIGH SCHOOL</h1>
                <p class="text-lg">2015-2016</p>
            </div>
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">10<sup>th</sup></h1>
                <p class="border-l-4 border-gray-400 pl-2">
                    87.3 &percnt;
                </p>
            </div>
        </div>
        <div class="flex  mt-3">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">B.A.P.S. SWAMINARAYAN VIDHYAMANDIR GURUKUL GONDAL</h1>
                <p class="text-lg">2016-2018</p>
            </div>
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">12 <sup>th</sup></h1>
                <p class="border-l-4 border-gray-400 pl-2">
                    87.6 &percnt;
                </p>
            </div>
        </div>
        <div class="flex  mt-3">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">GUJARAT TECHNOLOGICAL UNIVERSITY</h1>
                <p class="text-lg">2018-2022</p>
            </div>
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">BE (INFORMATION TECHNOLOGY)</h1>
                <p class="border-l-4 border-gray-400 pl-2">
                    8.34 CGPA
                </p>
            </div>
        </div>
    </div>
</div>