<div class="">
    <h1 class="uppercase text-4xl font-medium text-slate-700">Experience</h1>
    <div class="mt-5 py-3">
        <div class="flex  ">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">Creart</h1>
                <p class="text-lg">15-dec-2020 to 7-jan-2021</p>
            </div>
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">PHP SUMMER INTERN</h1>
                <p class="border-l-4 border-gray-400 pl-2">
                    It is fifteen days summer internsheep where i learn about how we can build a single page web app in
                    php
                    and also learn about one of the frame of php called laravel. I leran how mvc system work during
                    project
                    creation.
                </p>
            </div>
        </div>
        <div class="flex  mt-3">
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">UNNATI INFORMATICS LLP.</h1>
                <p class="text-lg">1-jan-2022 to 30-apr-2022</p>
            </div>
            <div class="w-1/2">
                <h1 class="text-cyan-700 text-2xl uppercase font-medium">MERN STACK INTERN</h1>
                <p class="border-l-4 border-gray-400 pl-2">
                    During this internship i worked on project named model united nation in mern technology. I developed
                    frontend with react and backend with nodejs and managed database with mongodb.
                </p>
            </div>
        </div>
    </div>
</div>